In [44]:
import pandas as pd
import re  # regex
import string
import nltk
from nltk.corpus import stopwords

In [45]:
# previewing iniail values
df = pd.read_csv("imdb_master.csv", sep=",", encoding="ISO-8859-1")
df.head()

,Unnamed: 0,type,review,label,file
0,0,test,Once again Mr. Costner has dragged out a movie...,neg,0_2.txt
1,1,test,This is an example of why the majority of acti...,neg,10000_4.txt
2,2,test,"First of all I hate those moronic rappers, who...",neg,10001_1.txt
3,3,test,Not even the Beatles could write songs everyon...,neg,10002_3.txt
4,4,test,Brass pictures (movies is not a fitting word f...,neg,10003_3.txt

In [46]:
# checking initail values
print(df['type'].unique())
print(df['label'].unique())

['test' 'train']
['neg' 'pos' 'unsup']

In [47]:
df = df.drop(df.columns[0], axis=1)
df = df.drop(df.columns[3], axis=1)

df

        type                                             review  label
0       test  Once again Mr. Costner has dragged out a movie...    neg
1       test  This is an example of why the majority of acti...    neg
2       test  First of all I hate those moronic rappers, who...    neg
3       test  Not even the Beatles could write songs everyon...    neg
4       test  Brass pictures (movies is not a fitting word f...    neg
...      ...                                                ...    ...
99995  train  Delightfully awful! Made by David Giancola, a ...  unsup
99996  train  Watching Time Chasers, it obvious that it was ...  unsup
99997  train  At the beginning we can see members of Troma t...  unsup
99998  train  The movie was incredible, ever since I saw it ...  unsup
99999  train  TCM came through by acquiring this wonderful, ...  unsup

[100000 rows x 3 columns]

In [48]:
stop_words = stopwords.words("english")
def remove_stop_words(sentence):
    # Split the sentence into individual words
    words = sentence.split()
    # Use a list comprehension to remove stop words
    filtered_words = [word for word in words if word not in stop_words]
    # Join the filtered words back into a sentence
    return " ".join(filtered_words)

In [49]:
# rows data clean
CLEANR = re.compile("<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});")



for index, row in df.iterrows():
    row["review"] = cleantext = re.sub(CLEANR, "", row["review"])
    row["review"] = row["review"].translate(str.maketrans("", "", string.punctuation))
    row["review"] = remove_stop_words(row["review"])


print(index)

99999